configuration {
    modi: "drun,window,run";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    display-drun: "";
    display-window: "";
    display-run: "";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "ayu-dark"
